.categories {
  flex: auto;
  padding: 30px 20px;
}

.categories__inner {
  margin: 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.categories__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: transform #ec6325;
}

.categories__card-link {
  text-decoration: none;
}

.categories__icon {
  width: 82px;
  height: 82px;
  background: #f3f6fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #345278;
  margin-bottom: 8px;
  transition: background 0.3s, color 0.3s;
}

.categories__card:hover .categories__icon {
  background: #fef0ea;
  color: #ec6325 !important;
}

.categories__label {
  font-size: 18px;
  font-weight: 600;
  max-width: 82px;
  color: #333;
  text-align: center;
}

.categories__svg {
  width: 36px;
  height: 36px;
  display: block;
  fill: #345278;
  transition: fill 0.3s;
}

.categories__card:hover .categories__svg {
  fill: #ec6325;
}

.categories__icon-text {
  font-size: 24px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .categories {
  padding: 20px 20px;
}
.categories__inner {
  margin: 0;
}
}