.hero {
  max-width: var(--max-width-main);
  margin: 0 auto;
  padding: 70px 20px;
}

.hero__box {
  border-radius: var(--border-radius-large);
  overflow: hidden;
  background: #f4f6f9;
}

.hero__content {
  display: flex;
  flex-direction: column;
  
  background: #fff;
  padding: 24px 20px;
}

@media (max-width: 960px) {
  .hero {
    margin: 100px 0 0 0;
    padding: 0;
  }
  .hero__content {
    padding: 14px;
    position: relative;
  }
}