.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #f4f6f9;
}

.header__container {
  max-width: var(--max-width-main);
  margin: 0 auto;
  padding: 20px 32px 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header__top-row {
  max-height: 30px;
}

.mainLogo {
  max-height: 28px;
}

.header__phone {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background var(--transition);
  display: flex;
  align-items: center;
}

.header__phone-icon {
  display: none;
  width: 18px;
  height: 18px;
}

.header__icon:hover {
  color: var(--primary-color);
}

.header__cart:hover {
  background: #ff6a36;
}

.header__logo a {
  text-decoration: none;
}

@media (max-width: 960px) {
  .header__container{
    max-height: 30px;
    padding: 60px 0px 10px 0px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__top-row {
    justify-content: space-between;
  }
  .header__phone-text {
    display: none;
  }
  
  .header__phone-icon {
    display: block;
  }
  
  .header__phone {
    margin-right: 42px;
  }
}